/* Custom Fonts */
/* @import '/assets/fonts/inter/styles.css';
@import '/assets/fonts/nexa/styles.css'; */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4, h5, h6, button, Link {
    font-family: 'Nexa', 'system-ui';
  }
  p, span {
    font-family: 'Inter', 'Georgia';
  }
}


@font-face {
  font-family: "Inter";
  src: local("Inter Thin"), local("assets/fonts/inter/Inter-Thin"),
    url("assets/fonts/inter/Inter-Thin.woff2") format("woff2"),
    url("assets/fonts/inter/Inter-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter ExtraLight"), local("assets/fonts/inter/Inter-ExtraLight"),
    url("assets/fonts/inter/Inter-ExtraLight.woff2") format("woff2"),
    url("assets/fonts/inter/Inter-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter Light"), local("assets/fonts/inter/Inter-Light"),
    url("assets/fonts/inter/Inter-Light.woff2") format("woff2"),
    url("assets/fonts/inter/Inter-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter Regular"), local("assets/fonts/inter/Inter-Regular"),
    url("assets/fonts/inter/Inter-Regular.woff2") format("woff2"),
    url("assets/fonts/inter/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter Medium"), local("assets/fonts/inter/Inter-Medium"),
    url("assets/fonts/inter/Inter-Medium.woff2") format("woff2"),
    url("assets/fonts/inter/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter SemiBold"), local("assets/fonts/inter/Inter-SemiBold"),
    url("assets/fonts/inter/Inter-SemiBold.woff2") format("woff2"),
    url("assets/fonts/inter/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter Bold"), local("assets/fonts/inter/Inter-Bold"),
    url("assets/fonts/inter/Inter-Bold.woff2") format("woff2"),
    url("assets/fonts/inter/Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter ExtraBold"), local("assets/fonts/inter/Inter-ExtraBold"),
    url("assets/fonts/inter/Inter-ExtraBold.woff2") format("woff2"),
    url("assets/fonts/inter/Inter-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter Black"), local("assets/fonts/inter/Inter-Black"),
    url("assets/fonts/inter/Inter-Black.woff2") format("woff2"),
    url("assets/fonts/inter/Inter-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Nexa Font */

@font-face {
  font-family: "Nexa";
  src: local("Nexa Light"), local("assets/fonts/nexa/Nexa-Trial-ExtraLight"),
    url("assets/fonts/nexa/Nexa-Trial-ExtraLight.woff2") format("woff2"),
    url("assets/fonts/nexa/Nexa-Trial-ExtraLight.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa";
  src: local("Nexa Thin"), local("assets/fonts/nexa/Nexa-Trial-Thin"),
    url("assets/fonts/nexa/Nexa-Trial-Thin.woff2") format("woff2"),
    url("assets/fonts/nexa/Nexa-Trial-Thin.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa";
  src: local("Nexa Light"), local("assets/fonts/nexa/Nexa-Trial-Light"),
    url("assets/fonts/nexa/Nexa-Trial-Light.woff2") format("woff2"),
    url("assets/fonts/nexa/Nexa-Trial-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa";
  src: local("Nexa Regular"), local("assets/fonts/nexa/Nexa-Trial-Regular"),
    url("assets/fonts/nexa/Nexa-Trial-Regular.woff2") format("woff2"),
    url("assets/fonts/nexa/Nexa-Trial-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa";
  src: local("Nexa Bold"), local("assets/fonts/nexa/Nexa-Trial-ExtraBold"),
    url("assets/fonts/nexa/Nexa-Trial-ExtraBold.woff2") format("woff2"),
    url("assets/fonts/nexa/Nexa-Trial-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa";
  src: local("Nexa Bold"), local("assets/fonts/nexa/Nexa-Trial-Bold"),
    url("assets/fonts/nexa/Nexa-Trial-Bold.woff2") format("woff2"),
    url("assets/fonts/nexa/Nexa-Trial-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa";
  src: local("Nexa Black"), local("assets/fonts/nexa/Nexa-Trial-Black"),
    url("assets/fonts/nexa/Nexa-Trial-Black.woff2") format("woff2"),
    url("assets/fonts/nexa/Nexa-Trial-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
body {
  background-color: #181818;
}
.react-multi-carousel-dot button {
  background-color: gray;
  width: 10px !important;
  height: 10px !important;
}

.react-multi-carousel-dot--active button {
  border: none !important;
  width: 14px !important;
  height: 14px !important;
  background-color: gray !important;
}

.react-multi-carousel-dot {
  display: flex;
  align-items: center;
}

/* .centeredClass {
  max-width: 2200px;
  margin: auto;
  background-color: #181818;
} */
